<div class="img">
    <div class="text">

        <p>Join Us</p>
        <h1>Be a part of our  community</h1>
    </div>
</div>

<div class="parag" data-aos="fade-up"
data-aos-duration="3000">
    <p>
        Are you a creative, organized , who is relationship driven, able to work on multiple jobs at one time ?<br>
        <br>want to be a part of a growing, dynamic team, please complete the form below and upload your resume to apply for the available position(s). We look forward to speaking with you soon!
    </p>
    </div>

<div class="form">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
          <h4 class="animate-charcter"> you are too late, the registration time is over</h4>
        </div>
      </div>
    
 </div>

</div>
