
<div class="container">
    <div class="haburger" (click)="notif.emit()" >
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        </div>
     <ul class="list">
        <li><a   (click)="notif2.emit()" [routerLink]="['']" >Home</a></li> 
        <li><a (click)="goContact();notif2.emit()">ContactUs</a></li>
        <li><a (click)="goJoin();notif2.emit()" [routerLink]="['/JoinUs']" routerLinkActive="router-link-active" >JoinUs</a></li>
        <li><a (click)="goMember();notif2.emit()" style="margin-right: 0px;" [routerLink]="['/member']">Member</a></li>
    </ul>
</div>
