<!--Home Section-->
<section class="home" id="home">
  <div class="container">
    <div class="contentHome">
      <div class="text1">Hello Geeky !</div>
      <div class="text2">Welcome to Ensit Geeks Club</div>
      <div class="text3"><span class="typing"></span></div>
    </div>
  </div>
</section>


<!--About Section -->

<section class="home-about about" id="home-about">
  <div class="container2">
    <h1>About Us</h1>
    <div class="about-container">
      <div class="left">
        <img [src]="logo" data-aos="fade-right"
             data-aos-offset="200"
             data-aos-easing="ease-in-sine">
      </div>
      <div class="right" data-aos="fade-right"
           data-aos-offset="200"
           data-aos-easing="ease-in-sine">
        <p>ENSIT <span>Geeks Club </span>was founded in 2021 by Nizar Essid at the National High School of Tunis. It
          brings together people interested in sharing their knowledge and helping each other in IT. It welcomes both
          beginners and experts. It aims to deepen your knowledge necessary in IT to be able to succeed in the
          professional field
          and allow students to use today's technology to prepare for the future</p>
      </div>

    </div>
  </div>

</section>

<!--Services Section-->

<section class="service" id="service">
  <div style="width:100%;height:100%;position:absolute;opacity:0.7;background:black;z-index:0;"></div>
  <div class="container2 wrallax">
    <h1>Activities</h1>
    <div class="about-container">
      <div class="card noBackGround" data-aos="flip-up" data-aos-offset="100"
           data-aos-easing="ease-in-sine">
        <div class="box">
          <div class="text">Mobile Dev</div>
          <p>As in 2021, mobile phones are the most used devices in order to connect to the Internet through mobile
            applications.
            Because we are aware of the spread of mobile apps, we help our members to learn how to develop applications
            using frameworks and SDKs such as flutter.</p>
        </div>
      </div>

      <div class="card noBackGround" data-aos="flip-up" data-aos-offset="200"
           data-aos-easing="ease-in-sine">
        <div class="box">
          <div class="text">Application Dev</div>
          <p>We know that programming is becoming more and more important in our world and we know that everyone needs
            it, that's why we organize training sessions and weekly workshops to improve your coding skills, web
            development , app building and more.
          </p>
        </div>
      </div>

      <div class="card noBackGround" data-aos="flip-up" data-aos-offset="300"
           data-aos-easing="ease-in-sine" >
        <div class="box">
          <div class="text">Game Dev</div>
          <p> Games making becomes an important goal for geeks. That's why, Ensit Geeks Club has carried out trainings,
            workshops to master the game development using the unity engine, which is very popular, easy to use and
            practical for beginners and experts.</p>
        </div>
      </div>


    </div>
  </div>

</section>


<!-- Team-->
<div class="teamBoard" data-aos="fade-up"
     data-aos-duration="3000"
>
  <div class="title"><h1>Our Team</h1></div>
  <div class="container3">


    <div class="team">
      <img src="../../assets/img/Gmail/youssef%20araoui.jpeg" alt=""/>
      <div class="name">Youssef Arouay</div>
      <div class="desig">Chairman</div>
      <div class="info">
        <p>Computer engineering Student</p>
      </div>
    </div>


    <div class="team">
      <img src="./../../assets/img/Gmail/youssef%20mabrouk.jpeg" alt=""/>
      <div class="name">Youssef Mabrouk</div>
      <div class="desig">Vice-Chairman</div>
      <div class="info">
        <p>Computer engineering Student</p>
      </div>
    </div>

    <div class="team">
      <img src="../../assets/img/Gmail/ashref.jpg" alt=""/>
      <div class="name">Ashraf Banaoues</div>
      <div class="desig">General Secretary</div>
      <div class="info">
        <p>Computer engineering Student</p>
      </div>
    </div>

    <div class="team">
      <img src="../../assets/img/Gmail/ayoub.jpg" alt=""/>
      <div class="name">Ayoub Arfaoui</div>
      <div class="desig">Treasurer</div>
      <div class="info">
        <p>Industrial engineering Student</p>
      </div>
    </div>

    <div class="team">
      <img src="../../assets/img/Gmail/aicha%20ben%20fadhl.jpg" alt=""/>
      <div class="name">Aïcha Ben Fadhl</div>
      <div class="desig">RH Manager</div>
      <div class="info">
        <p>Computer engineering Student</p>
      </div>
    </div>

    <div class="team">
      <img src="../../assets/img/Gmail/mohamed%20amin%20bachka.jpg" alt=""/>
      <div class="name">Mohamed Amin Bachka</div>
      <div class="desig">Event Manager</div>
      <div class="info">
        <p>Computer engineering Student</p>
      </div>
    </div>

    <div class="team">
      <img src="../../assets/img/Gmail/hadil%20yahiaoui.jpg" alt=""/>
      <div class="name">Hadil Yahiaoui</div>
      <div class="desig">Sponsoring Manager</div>
      <div class="info">
        <p>Computer engineering Student</p>
      </div>
    </div>

    <div class="team">
      <img src="../../assets/img/Gmail/ezzedine.jpg" alt=""/>
      <div class="name">Ezzedine Hadj Sassi</div>
      <div class="desig">Project Manager</div>
      <div class="info">
        <p>Computer engineering Student</p>
      </div>
    </div>

    <div class="team">
      <img src="../../assets/img/Gmail/ahmed%20ammamou.jpg" alt=""/>
      <div class="name">Ahmed Amamou</div>
      <div class="desig">Co Project Manager</div>
      <div class="info">
        <p>Computer engineering Student</p>
      </div>
    </div>


    <div class="team">
      <img src="../../assets/img/Gmail/mouhaned.jpeg" alt=""/>
      <div class="name">Mouhanned Jawadi</div>
      <div class="desig">Marketing Manager</div>
      <div class="info">
        <p>Computer engineering Student</p>
      </div>
    </div>




    <div class="team">
      <img src="../../assets/img/Gmail/amenallah.jpeg" alt=""/>
      <div class="name">Amenallah Benamor</div>
      <div class="desig">Communication Manager</div>
      <div class="info">
        <p>Computer engineering Student</p>
      </div>
    </div>

    <div class="team">
      <img src="../../assets/img/Gmail/wala.jpg" alt=""/>
      <div class="name">Walaa Bouneb</div>
      <div class="desig">Co Communication Manager</div>
      <div class="info">
        <p>Industrial engineering Student</p>
      </div>
    </div>





    <div class="team last">
      <img src="../../assets/img/Gmail/nabil%20kouki.jpeg" alt=""/>
      <div class="name">Kouki Nabil</div>
      <div class="desig">Logistic Manager</div>
      <div class="info">
        <p>Computer engineering Student</p>
      </div>
    </div>





  </div>


</div>


<!--Achievement-->


<section class="achieve">
  <div style="width:100%;height:100%;position:absolute;opacity:0.5;background:black;z-index:0;"></div>
  <div class="container2 wrallax">
    <h1>Achievements of the year</h1>
    <div class="about-container">
      <div class="card" data-aos="flip-up" data-aos-offset="100"
           data-aos-easing="ease-in-sine">
        <div class="box">
          <div class="text">5 Projects</div>
        </div>
      </div>

      <div class="card" data-aos="flip-up" data-aos-offset="200"
           data-aos-easing="ease-in-sine">
        <div class="box">
          <div class="text">150 Members</div>
        </div>
      </div>

      <div class="card" data-aos="flip-up" data-aos-offset="300"
           data-aos-easing="ease-in-sine">
        <div class="box">
          <div class="text">250 Hours of work</div>
        </div>
      </div>


    </div>
  </div>

</section>



